<li id="room-<%= room.id %>">
  <span class="vacant_room"><%= room.vacant_room %></span>
  <span class="room_number"><%= room.room_number %></span>
  <span class="space"><%= room.space %><span>㎡</span></span>
  <span class="room_type"><%= room.room_type %></span>
  <span class="room_img"><%= room.room_img %></span>
</li>