<% provide(:title, 'Property New') %>
<h1>新しい物件を登録する</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @property, local: true) do |f| %>
    <%= render 'shared/error_property_messages' %>

    <%= f.label :house_name, "物件名" %>
    <%= f.text_field :house_name, class: 'form-control', :placeholder => "例: 渋谷スキルハウス" %>

    <%= f.label :area_name, "エリア" %>
    <%= f.select :area_name, {'渋谷/青山': 1, '新宿/中野': 2, '池袋/赤羽': 3, '品川/蒲田': 4, '上野/北千住': 5, 
                          '下北沢/吉祥寺': 6, '飯田橋/四谷': 7, '赤坂/大手町': 8, '銀座/門前仲町': 9, '錦糸町/押上':10,
                           '自由が丘/二子玉川': 11,'調布/立川': 12 },
                         { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>

    <%= f.label :house_station, "最寄駅" %>
    <%= f.text_field :house_station, class: 'form-control',:placeholder => "例: 渋谷" %>

    <%= f.label :house_distance, "駅から徒歩での所要時間（分）" %>
    <%= f.text_field :house_distance, class: 'form-control', :placeholder => "例: 10" %>

    <%= f.label :house_skill, "スキルのジャンル" %>
    <%= f.select :house_skill,  {'Web制作エンジニア': 1, 'アプリ開発エンジニア': 2, '通訳（英語）': 3, '公務員': 4, '会計士': 5, 
                          '俳優': 6, '声優': 7, '起業家': 8},
                         { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>

    <%= f.label :rent, "家賃相場"%>
    <%= f.text_field :rent, class: 'form-control',:placeholder => "例: 50000" %>

    <%= f.label :house_adress, "住所" %>
    <%= f.text_field :house_adress, class: 'form-control',:placeholder => "例: 東京都千代田区神田884-1" %>

    <%= f.submit "物件登録", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>