<% provide(:title, @property.house_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    <h3>
     <%= @property.house_name %>
    </h3>
    <p>
      <strong>物件写真</strong>
      <%= image_tag @property.property_img.url if @property.property_img? %>
    </p>

    <ul class="list-group">
     <li class="list-group-item"><%= @property.rent %></li>
     <li class="list-group-item"><%= @property.area_name %></li>
     <li class="list-group-item"><%= @property.house_station %></li>
     <li class="list-group-item"><%= @property.house_distance %></li>
     <li class="list-group-item"><%= @property.house_skill %></li>
    <ul class="list-group">
      </section>
  </aside>
</div>